# Telegram bot token
TELEGRAM_BOT_TOKEN=your_token_here

# Telegram bot username
TELEGRAM_BOT_USERNAME=your_username_here

# Telegram bot id
TELEGRAM_BOT_ID=your_id_here

# Telegram bot api key
TELEGRAM_BOT_API_KEY=your_api_key_here

# Telegram bot api secret
TELEGRAM_BOT_API_SECRET=your_api_secret_here